<a href="https://colab.research.google.com/github/Elmira-Rakhmetova/ML-Audit-project/blob/main/Audit_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import pandas as pd
import numpy as np

**DATASETS IMPORT**

In [36]:
audit_risk = pd.read_csv('https://raw.githubusercontent.com/Elmira-Rakhmetova/ML-Audit-project/main/audit_risk.csv')
trial = pd.read_csv('https://raw.githubusercontent.com/Elmira-Rakhmetova/ML-Audit-project/main/trial.csv')

**DATA PREPARATION**

In [27]:
audit_risk.describe()

       Sector_score      PARA_A  ...  Audit_Risk        Risk
count    776.000000  776.000000  ...  776.000000  776.000000
mean      20.184536    2.450194  ...    7.168158    0.393041
std       24.319017    5.678870  ...   38.667494    0.488741
min        1.850000    0.000000  ...    0.280000    0.000000
25%        2.370000    0.210000  ...    0.316700    0.000000
50%        3.890000    0.875000  ...    0.555600    0.000000
75%       55.570000    2.480000  ...    3.249900    1.000000
max       59.850000   85.000000  ...  961.514400    1.000000

[8 rows x 26 columns]

In [28]:
trial.describe()

       Sector_score      PARA_A  ...       Score        Risk
count    776.000000  776.000000  ...  776.000000  776.000000
mean      20.184536    2.450194  ...    2.702577    0.626289
std       24.319017    5.678870  ...    0.858923    0.484100
min        1.850000    0.000000  ...    2.000000    0.000000
25%        2.370000    0.210000  ...    2.000000    0.000000
50%        3.890000    0.875000  ...    2.400000    1.000000
75%       55.570000    2.480000  ...    3.250000    1.000000
max       59.850000   85.000000  ...    5.200000    1.000000

[8 rows x 17 columns]

In order to proceed with the analysis, we decided to merge the 2 datasets. To do this, we edited *trial* dataset (column names, values for Score_A and Score_B) so that it is consistent with *audit_risk* dataset.

In [29]:
trial.columns = ['Sector_score','LOCATION_ID', 'PARA_A', 'Score_A', 'PARA_B',
       'Score_B',  'TOTAL', 'numbers', 'Marks',
       'Money_Value', 'MONEY_Marks', 'District',
       'Loss', 'LOSS_SCORE', 'History', 'History_score', 'Score', 'Risk_trial' ]

In [30]:
trial['Score_A'] = trial['Score_A']/10
trial['Score_B'] = trial['Score_B']/10

In [34]:
same_columns = np.intersect1d(audit_risk.columns, trial.columns)
same_columns

array(['History', 'LOCATION_ID', 'Money_Value', 'PARA_A', 'PARA_B',
       'Score', 'Score_A', 'Score_B', 'Sector_score', 'TOTAL', 'numbers'],
      dtype=object)

In [35]:
merged_df = pd.merge(audit_risk, trial, how='outer', on = ['History', 'LOCATION_ID', 'Money_Value', 'PARA_A', 'PARA_B',
       'Score', 'Score_A', 'Score_B', 'Sector_score', 'TOTAL', 'numbers'])
merged_df.columns

Index(['Sector_score', 'LOCATION_ID', 'PARA_A', 'Score_A', 'Risk_A', 'PARA_B',
       'Score_B', 'Risk_B', 'TOTAL', 'numbers', 'Score_B.1', 'Risk_C',
       'Money_Value', 'Score_MV', 'Risk_D', 'District_Loss', 'PROB', 'RiSk_E',
       'History', 'Prob', 'Risk_F', 'Score', 'Inherent_Risk', 'CONTROL_RISK',
       'Detection_Risk', 'Audit_Risk', 'Risk', 'Marks', 'MONEY_Marks',
       'District', 'Loss', 'LOSS_SCORE', 'History_score', 'Risk_trial'],
      dtype='object')